<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono " [ngClass]="larguraPensamento()" >
  <img src="../../../../assets/Imagens do curso/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar" routerLink="/pensamento/editarPensamento/{{pensamento.id}}">
      <img src="../../../../assets/Imagens do curso/icone-editar.png" alt="Ícone de editar" title="Editar">
    </button>
    <button class="botao-excluir" routerLink="/pensamento/excluirPensamento/{{pensamento.id}}">
      <img src="../../../../assets/Imagens do curso/icone-excluir.png" alt="Ícone de excluir" title="Excluir">
    </button>
  </div>
</div>

